// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
// Variables
@import "variables";
// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

#navbarSupportedContent li {
  margin-right: 1em;
}

.navbar-laravel {
  background-color: #495057;
}

.navbar-laravel .navbar-nav li a {

  color: #ddd;
}

.navbar-laravel .dropdown-menu a {
  color: #000 !important;
}

.navbar-light .navbar-nav .nav-link {
  color: #eee;
}

.navbar-light .navbar-brand {
  color: #eee;
}

body {
  background: #eee;
}

.navbar-light .navbar-brand, #navbarDropdown:hover {
  color: #ffc107 !important;
}

.card-header.yellow {
  background: #ffc107;

}

.card-header a {
  color: #fff;
}